.carte {
	border:1px solid black;
	margin:1px;
	width:140px;
	height:210px;
}

.actif {
	border:2px solid red !important;
	margin:0px;
}

td {
	padding:0;
}

#tools {
	float:left;
	border:1px solid black;
	padding:5px;
}

#tools a {
	cursor:active;
}

#tools span {
	float:right;
}

.aide {
	background:orange;
}

#temps {
	float:none !important;
}

#replay {
	display:none;
	float:none !important;
}

#message {
	background:orange;
	padding:2px;
	display:none;
}

#main {
	float:left;
}