.carte {
	border:1px solid black;
	width:140px;
	height:210px;
}

.actif {
	border:2px solid red !important;
	margin:-1px;
}

#tools {
	float:left;
	border:1px solid black;
	padding:5px;
}

#tools a {
	cursor:active;
}

.aide {
	background:orange;
}

#message {
	background:orange;
	padding:2px;
	display:none;
}

#main {
	float:left;
}