.carte {
	border:1px solid black;
	margin:1px;
	width:140px;
	height:210px;
}

.actif {
	border:2px solid red !important;
	margin:0px;
}

/*
td {
	border:1px solid blue;
}*/

#tools {
	float:left;

}

.tool {
	padding:5px;
	border:1px solid black;
	margin-bottom:10px;
}

#score a {
	cursor:active;
}

#score dt {
	clear: both;
	float:left;
	width:7em;
}


#score dd {
	float:right;
	width:2em;
	margin:0;
}

#score dl {
	width:10em;
	margin:0;
}

.aide {
	background:orange;
}

#replay {
	display:none;
	clear:both;
}

#message {
	background:orange;
	padding:2px;
	display:none;
	clear:both;
}

#main {
	float:left;
}